In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

In [18]:
by_county= pd.read_excel("california-regions-break-out-by-county.xlsx")
by_region_dict= pd.read_excel("screening-disorders-by-region-data-dictionary.xlsx")
by_race_dict= pd.read_excel("screening-disorders-by-race-ethnicity-data-dictionary.xlsx")
statewide_dict=pd.read_excel("screening-disorders-statewide-data-dictionary.xlsx")
statewide= pd.read_csv("screening-disorders-statewide.csv")
by_region= pd.read_csv("screening-disorders-by-california-region.csv")
by_race= pd.read_csv("screening-disorders-by-race-ethnicity.csv")

In [19]:
by_county.head()

  California Region Break-Out by County
0                           Los Angeles
1                        Southern Coast
2                                Orange
3                             San Diego
4                Southern Inland Empire

In [20]:
by_region_dict.head()

,COLUMN NAME,FORMAT,DEFINITION
0,California Region,String,"Defined as: Central Coast, Los Angeles, Northe..."
1,Disease Type,String,Names of the disorders diagnosed through the C...
2,Case Count,Numeric,Count of cases diagnosed through the Californi...
3,Number Screened,Numeric,Number of newborns screened in each respective...
4,Percent of All Disorders in Region,Percent,Percent distribution of diagnosed disorders wi...

In [21]:
by_race_dict.head()

,COLUMN NAME,FORMAT,DEFINITION
0,Race/Ethnicity,String,Race/ethnicity category provided by the clinic...
1,Disorder Type,String,Names of the disorders diagnosed through the C...
2,Disorder Count,Numeric,Count of disorders diagnosed through the Calif...
3,Screened Count,Numeric,Number of newborns screened within each respec...
4,"Rate per 100,000",Numeric,"(Disorder Count / Screened Count) * 100,000."

In [22]:
statewide_dict.head()

,COLUMN NAME,FORMAT,DEFINITION
0,Disorder Type,String,Names of the disorders diagnosed through the C...
1,Count,Numeric,Count of cases diagnosed through the Californi...
2,Percent,NaN,Percent of initial screen positive test result...
3,Newborns Screened,Numeric,This is the count of newborns screened for the...

In [23]:
statewide.head()

,Disorder Type,Disorder\nCount,Percent,Newborns\nScreened
0,3-Hydroxy-3-methylglutaryl-CoA lyase deficienc...,.,<1,5350864
1,Beta-ketothiolase deficiency (BKT),.,<1,5350864
2,Homocystinuria (cystathionine beta-synthase de...,.,<1,5350864
3,MPS I - not otherwise specified,.,<1,643218
4,MPS I - severe (Hurlers),.,<1,643218

In [24]:
by_region.head()

,California Region,Disease Type,Case\nCount,Number\nScreened,Percent\nof All\nDisorders\nin Region
0,Central Coast,3-Methylcrotonyl-CoA carboxylase deficiency (3...,19,557240,3
1,Central Coast,ALD - not otherwise specified,11,185798,2
2,Central Coast,ALD carrier (female),18,185798,3
3,Central Coast,Biotinidase deficiency profound (BD),7,557240,1
4,Central Coast,Carnitine transporter deficiency (CTD)/carniti...,10,557240,2

In [26]:
by_race.head()

,Race/Ethnicity,Disorder Type,Disorder\nCount,Screened\nCount,"Rate\nper\n100,000"
0,American Indian,Cystic fibrosis (CF),9,52784,17.05
1,American Indian,"Hypothyroidism, primary congenital (PCH)",25,52784,47.36
2,American Indian,Sickle Cell Disease,8,52784,15.16
3,Asian Indian,Carnitine transporter deficiency (CTD)/carniti...,10,124895,8.01
4,Asian Indian,"Congenital adrenal hyperplasia, classical salt...",6,124895,4.80